<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <!-- <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %> -->
      <!-- <%- partial('post/title', {class_name: 'archive-article-title'}) %> -->
      <h3 itemprop="name">
        <a class="archive-article-title" href="<%- url_for(post.permalink) %>" target="_blank" itemprop="url"><%= post.title %></a>
      </h3>
      <h6>By <%- post.author %></h6>
    </header>
    <p><%- post.excerpt %>&nbsp;&nbsp;<em><a href="<%- url_for(post.permalink) %>">Read more →</a></em></p>
  </div>
</article>