<header>
    <h1>
      <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
    </h1>
    <% if (theme.subtitle){ %>
    <h2>
      <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
    </h2>
    <% } %>
    <nav class="main-nav">
      <ul class="nav">
        <% for (var i in theme.menu){ %>
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="https://cohort.rocks"><%= __('main_site_cta') %></a>
        </li>
      </ul>
      <!-- <a id="main-nav-toggle" class="nav-icon"></a> -->
      
    </nav>
    <!-- <nav id="sub-nav">
      <% if (theme.rss){ %>
        <a id="nav-rss-link" class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
      <% } %>
      <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
    </nav> -->
    <!-- <div id="search-form-wrap">
      <%- search_form({button: '&#xF002;'}) %>
    </div> -->
</header>